<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>338045852262-utp9shrrht4tgkem0hfu5deh1elk9glj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.338045852262-utp9shrrht4tgkem0hfu5deh1elk9glj</string>
	<key>API_KEY</key>
	<string>AIzaSyAkH-PaPnEuFaSBTIAGBHcVnRsK33p8IDQ</string>
	<key>GCM_SENDER_ID</key>
	<string>338045852262</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ap03</string>
	<key>PROJECT_ID</key>
	<string>ap03-52926</string>
	<key>STORAGE_BUCKET</key>
	<string>ap03-52926.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:338045852262:ios:c0fd785ad07e44b90b6ba7</string>
</dict>
</plist>